<body>
	<app-navbar></app-navbar>
	<div class="container">
		<div class="row register-form pb-4">
			<div class="col-md-5 image-section">
				<img alt="" src="../../../assets/images/m-sign-up-pic.jpg" class="img-fluid">
			</div>
			<div class="col-md-6 text-section">
				<h2 class="card-title pb-3">Sign Up Here...</h2>
				<form (ngSubmit)="submitRegistration()" method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label for="firstName" class="form-label signin-text">First Name </label> <input
									type="text" class="form-control" id="firstName" [(ngModel)]="customer.customerFirstName" name="customerFirstName" 
									placeholder="Enter First Name Here" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label for="password" class="form-label signin-text">Last Name </label> <input
									type="lastName" class="form-control" id="lastName" [(ngModel)]="customer.customerLastName" name="customerLastName"
									placeholder="Enter Last Name Here" required>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label for="Phone" class="form-label signin-text">Phone </label> <input type="text"
							class="form-control" id="Phone" [(ngModel)]="customer.customerPhone" name="customerPhone" placeholder="Enter Phone Number Here" required>
					</div>

					<div class="mb-3">
						<label for="email" class="form-label signin-text">Email </label> <input type="email"
							class="form-control" id="email" [(ngModel)]="customer.customerEmail" name="customerEmail" placeholder="Enter Email Here" required>
					</div>

					<div class="mb-3">
						<label for="password" class="form-label signin-text">Password </label> <input type="password"
							class="form-control" id="password" [(ngModel)]="customer.customerPassword" name="customerPassword" placeholder="Enter Password Here"
							required>
					</div>
					<div class="mb-3">
						<div class="mb-2">
							<label for="firstName" class="form-label signin-text">Address </label>
							<textarea [(ngModel)]="customer.customerAddress"  name="customerAddress" class="form-control" [rows]="3" id="" cols="30" rows="10"
								placeholder="Enter Shop Address Here" id="address" required></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 ms-auto">
							<button type="submit" class="btn btn-success float-end">
								Register <i class="fa fa-send-o"></i>
							</button>
						</div>
					</div>
				</form>
				<div class="row pt-3">
					<p class="social-header">Or Sign Up With</p>
					<div class="social-media">
						<i class="fa fa-google"></i> <i class="fa fa-facebook" aria-hidden="true"></i> <i
							class="fa fa-linkedin" aria-hidden="true"></i> <i class="fa fa-twitter"
							aria-hidden="true"></i>
					</div>
				</div>
				<div class="pt-4 text-center register-section">
					<span style="color: #f75b9a;">Already a member?</span><span><a href="">Sign In Here</a></span>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</body>
