<body>
    <app-navbar></app-navbar>
    <div class="container mb-5">
        <form #forgotForm="ngForm">
            <div class="row pt-5 forgot-email-form">
                <div class="col-md-1"></div>
                <div class="col-md-5 image-section">
                    <img src="../../../assets/images/shop-signin.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-5 pt-5 text-section">
                    <div class="m-forgot-email">
                        <h2 class="card-title pb-3">Reset Your Password Here....</h2>
                        <form>
                            <div class="mb-3" *ngIf="routerValue=='/shop/forgot-email'">
                                <label for="user-email" class="form-label forgot-email-text">Username</label>
                                <input type="text" class="form-control" id="userName"
                                    [(ngModel)]="forgotPassword.userName" name="userName"
                                    placeholder="Enter Username Here...">
                            </div>
                            <div class="mb-3" *ngIf="routerValue=='/customer/forgot-email'">
                                <label for="user-email" class="form-label forgot-email-text">Email</label>
                                <input type="text" class="form-control" id="userEmail"
                                    [(ngModel)]="forgotPassword.userEmail" name="userEmail"
                                    placeholder="Enter Email Address Here...">
                            </div>
                            <div class="mb-3">
                                <label for="user-password" class="form-label forgot-email-text">New Password</label>
                                <input type="password" class="form-control" id="userPassword"
                                    [(ngModel)]="forgotPassword.userPassword" name="userPassword"
                                    placeholder="Enter Password Here...">
                            </div>
                            <div class="mb-3">
                                <label for="user-password" class="form-label forgot-email-text">Confirm Password</label>
                                <input type="password" class="form-control" id="comfirmPassword" [(ngModel)]="forgotPassword.comfirmPassword" name="comfirmPassword"
                                    placeholder="Enter Password Here...">
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <button (click)="back()" class="btn btn-danger ms-4"><i
                                            class="fa fa-long-arrow-left"></i> Back</button>
                                    <button type="submit" (click)="onSubmit(forgotForm)" class="btn btn-success float-end">Reset Password <i
                                            class="fa fa-send-o"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</body>