body{
	background-image: url("../../../assets/images/background-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.m-forgot-email h2{
    color: #35a5a7; 
	font-size: 30px;
}
.forgot-email-text{
    color: #f05498;
}
.form-control{
    border: 1px solid #71d3d5 !important;
}
.forgot-email-form{
    padding-top: 5.3rem !important;
}
.forgot-email-form .image-section {
	background-color: white; border-top-left-radius : 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 9px 0px 12px #888889ad;
	border-top-left-radius: 8px;
	padding-top: 4%;
}
.forgot-email-form .text-section {
	padding: 3.5%;
	background-color: #f8f7fc;
	border: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow:9px 0px 15px #888889ad;
}

