<div class="container px-5 pt-4">
    <section class="medicine-details-section">
        <h5><i class="fa fa-hand-o-right"></i> Medicine Details</h5>
        <div class="row pb-4">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Total Medicine
                    </div>
                    <div class="card-body">
                        <span> {{medicineQuantity.totalQuantity}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Ayurvedic Medicine
                    </div>
                    <div class="card-body">
                        <span> {{medicineQuantity.ayurvedicQuantity}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Homeopathy Medicine
                    </div>
                    <div class="card-body">
                        <span> {{medicineQuantity.homeopathicQuantity}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Allopathic Medicine
                    </div>
                    <div class="card-body">
                        <span> {{medicineQuantity.allopathicQuantity}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="soldout-stock-details">
        <h5><i class="fa fa-hand-o-right"></i> Stock/Soldout Details</h5>
        <div class="row pb-3">
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Medicine Stock
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.totalQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Medicine Soldout
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.totalMedicineSoldoutQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Ayurvedic Stock
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.ayurvedicQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Ayurvedic Soldout
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.totalayurvedicSoldoutQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Homeopathy Stock
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.homeopathicQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Homeopathy Soldout
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.totalhomeopathicSoldoutQuantity}}
                    </div>
                </div>
            </div>
           
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Allopathic Stock
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.allopathicQuantity}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-2">
                <div class="card text-center">
                    <div class="card-header">
                        Total Allopathic Soldout
                    </div>
                    <div class="card-body">
                        {{medicineQuantity.totalallopathicSoldoutQuantity}}
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="best-seller">
        <h5><i class="fa fa-hand-o-right"></i> Best Seller Medicines</h5>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let medicine of medicineList">
                <div class="card me-2" style="width: 15rem;">
                    <div class="hover-rotate">
                        <img src={{medicine.fileName}}>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{medicine.medicineName}}</h5>
                        <p class="card-text">{{medicine.categoryName}} <span class="float-end">{{medicine.medicinePrice}}/-</span></p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>
</div>