.footer .m-logo{
    height: 62px !important;   
}
.footer .quick-link div{
	font-size: 17px;
	padding-inline: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}
.footer .quick-link div:hover{
	color: white;
}
.footer .mapouter {
	position: relative;
	text-align: right;
	height: 100%;
	width: 100%;
  }
.footer .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 100%;
	width: 100%;
  }
  .footer .mail-support{
	padding-top: 10px;
	padding-left: 10px;
  }
  .footer .phone-support{
	padding-top: 20px;
	padding-left: 10px;
  }
  .footer .follow-us-header{
	padding-top:20px ;
	padding-left: 10px;
	font-size: 17px;
}
.footer .social-media-link i{
	background: #34343f;
   	margin: 10px;
	font-size: 20px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	transition: 0.5s;
}
.footer .social-media-link i:hover{
	background: #fff;
    color: #5099e5;
}
.footer .copy-right{
	padding-top: 5rem;
}