<div class="container footer">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/images/m-logo.jpg" class="img-fluid m-logo" alt=""><span
        class="fs-4">&nbsp;&nbsp;MediOrder</span>
        <div class="phone-support"><i class="fa fa-phone"></i> 7077967371</div>
        <div class="mail-support"><i class="fa fa-envelope"></i> mediorder@support.com</div>
        <div class="follow-us-header">Follow us on</div>
        <div class="social-media-link">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-youtube-play"></i>
          <i class="fa fa-instagram"></i>
        </div>
    </div>
    <div class="col-md-4 quick-link">
      <h4 class="pt-2">Quick links</h4>
      <div><i class="fa fa-angle-right"> Home</i></div>
      <div><i class="fa fa-angle-right"> About Us</i></div>
      <div><i class="fa fa-angle-right"> Contact Us</i></div>
      <div><i class="fa fa-angle-right"> Terms And Conditions</i></div>
    </div>
    <div class="col-md-4">
      <h4 class="pt-2">Reach us</h4>
      <div class="mapouter">
        <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
            src="https://maps.google.com/maps?q=bhubaneswar&t=k&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br>
            <a href="https://embedgooglemap.2yu.co/">html embed google map</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center copy-right">
    <div>
      <span>&#169;</span><span> Copyright 2023 MediOrder | </span><span>Terms & Conditions</span>
  </div>
  </div>
</div>