<body>
  <div class="d-flex" id="wrapper">
    <div class="side-nav">
      <app-shop-side-nav></app-shop-side-nav>
    </div>
    <div class="dashboard-contents-section">
      <section class="navbar-section">
        <nav class="navbar">
          <div class="container-fluid">
            <span class="bar-icon-section">
              <i class="fa fa-bars"></i> Dashboard
            </span>
            <div class="">
             <img src="../../../assets/images/background-pic.jpg" alt="" class="img-fluid profile-short-name">
            </div>
          </div>
        </nav>
      </section>
      <section class="main-contents">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</body>