<div class="row pt-4">
    <div class="card">
        <div class="card-header">
            <img src="../../../assets/images/Ayurvedic-logo.png" alt="" class="img-fluid image">
            <span>Ayurvedic Medicine</span>
            <span class="float-end close-btn">X</span>
        </div>
        <div class="card-body">
            <div class="col-md-4 pb-2">
                <input type="text" class="form-control" placeholder="Search Here...">
            </div>
            <table class="table table-bordered table-responsive-md">
                <thead>
                  <tr>
                    <th scope="col">Sl.No</th>
                    <th>Medicine Photo</th>
                    <th>Medicine Name</th>
                    <th>Manufacture Name</th>
                    <th>Medicine Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="text-center"></th>
                    <td class="text-center"><img src="../../../assets/images/Allopathic-logo.png" alt="" class=""></td>
                    <td>Medicine Name</td>
                    <td>Manufacture Name</td>
                    <td>Medicine Price</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
