<div class="container px-5 pt-4">
    <section class="my-carts-section">
        <div class="row" *ngIf="productDetailsList?.length==0">
            <div class="col-md-12">
                <div class="card no-carts-card-section">
                    <div class="card-body text-center">
                        <div class="no-carts-image-section mb-4">
                            <img src="../../../assets/images/shopping-cart.png" alt="" class="img-fluid">
                        </div>
                        <strong class="text-danger">Empty Cart</strong>
                        <div style="color: #0b7fd5;">You have no items in your cart. Start shopping!</div>
                        <div class="pt-2">
                            <a href="" class="btn btn-sky">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="productDetailsList?.length!=0">
            <div class="col-md-12">
                <div class="card carts-header">
                    <div class="card-body">
                        <h5><i class="fa fa-hand-o-right"></i> My Cart({{totalProductNos}})</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card carts-card-section">
                    <div class="card-body">
                        <div class="col-md-3 float-end pb-3">
                            <button class="btn btn-danger ms-4" (click)="deleteItems('0')">Clear Carts</button>
                            <button class="btn btn-sky float-end">Shop more</button>
                        </div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Actions</th>
                                    <th scope="col">Sl.No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let productDetails of productDetailsList ; let i=index">
                                    <td class="text-center"><i class="fa fa-trash-o" (click)="deleteItems(productDetails.medicineId)"></i></td>
                                    <td>{{i+1}}</td>
                                    <td>{{productDetails.medicineName}}</td>
                                    <td><img src={{productDetails.fileName}} alt="" class="img-fluid">
                                    </td>
                                    <td style="text-align: justify;">{{productDetails.medicineDesc}}</td>
                                    <td><span>&#8377;</span>{{productDetails.medicinePrice}}</td>
                                    <td class="text-center">
                                        <span class="action" (click)="getIncrease(productDetails.medicineId,productDetails.medicinePrice)"><i class="fa fa-caret-up"></i></span>
                                        <span class="action" (click)="getDecrease(productDetails.medicineId,productDetails.medicinePrice)"><i class="fa fa-caret-down"></i></span> 
                                        <span class="quantity">{{productDetails.orderQuantity}}</span>
                                    </td>
                                    <td><span>&#8377;</span>{{productDetails.totalPrice}}</td>
                                </tr>
                                <tr class="grand-total">
                                    <td colspan="5"></td>
                                    <td colspan="2" class="ps-4 fw-bold" style="color: black !important;">Grand Total</td>
                                    <td class="fw-bold" style="color: black !important;"><span>&#8377;</span>{{grandTotalPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-3float-end">
                            <button class="btn btn-success float-end" (click)="placeOrder()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>