<div class="container px-5 pt-4">
    <section class="shop-details-section">
        <h5><i class="fa fa-hand-o-right"></i> Profile</h5>
        <div class="card main-card">
            <div class="card-body pb-4">
                <div class="row">
                    <div>
                        <a href="" [routerLink]="['../update-profile']"><i class="fa fa-pencil float-end edit-btn"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-3 shop-details offset-2">
                        <span class="shop-header">Shop Details</span>
                        <div class="card-body pt-4">
                            <div class="d-flex">
                                <img *ngIf="shopProfile.fileName!=null" src={{shopProfile.fileName}} alt="" class="img-fluid">
                                <img *ngIf="shopProfile.fileName==null" src="../../../assets/images/user.png" alt="" class="img-fluid" style="padding: 6px;">
                                <div class="shop-contents">
                                    <h4>{{shopProfile.shopName}}</h4>
                                    <h6>{{shopProfile.shopAddress}}</h6>
                                    <h6><i class="fa fa-envelope"></i> {{shopProfile.shopEmail}}</h6>
                                    <h6><i class="fa fa-phone"></i> {{shopProfile.shopPhone}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-3 shop-details offset-2">
                        <span class="shop-header">Owner Details</span>
                        <div class="card-body pt-4">
                            <div class="d-flex mb-2 font-set">
                                <div><i class="fa fa-user"></i> Owner Name &nbsp;:&nbsp;</div> <span></span>
                                <div>{{shopProfile.ownerFirstName}} {{shopProfile.ownerLastName}}</div>
                            </div>
                            <div class="d-flex mb-2 font-set">
                                <div><i class="fa fa-id-card" aria-hidden="true"></i> Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</div> <span></span>
                                <div>{{shopProfile.shopUsername}}</div>
                            </div>
                            <div class="d-flex mb-2 font-set">
                                <div><i class="fa fa-phone"></i> Owner phone :&nbsp;</div>
                                <div>{{shopProfile.ownerPhone}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section"></section>
</div>
