h5{
    color: #0b7fd5;
    font-size: 23px;
}
a{
    text-decoration: none;
    color: black;
}
.medicine-photo-section{
    height: 180px !important;
    width: 100% !important;
}
.manufacture-name{
    background-color: green;
    color: white;
    padding: 5px 15px 6px 15px;
    border-radius: 25px;
}
.card{
    cursor: pointer;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    /* border: 1px solid #0b7fd5; */
    border: none;
    margin-top: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

.not-available-section{
    position: absolute !important;
    margin-top: -48px !important;
    text-align: center;
    padding-left: 30px !important;
    font-weight: bold;
    background-color:white;
    padding-right: 66px;
}
.heart{
    color: #989898;
    margin-top: 4px;
    margin-left: 110px;
    font-size: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 0px;
    text-align: center;
  }
  .heart:hover{
    color: red;
    background-color:transparent;
    cursor: pointer;
  }
  .medicine-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    color:#0b7fd5;
    margin-bottom: 10px;
  }
.medicine-name:hover{
    color: rgb(0, 81, 255);
}
.form-control{
    border: 1px solid #0b7fd5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  }