<div class="container px-5 pt-4">
    <h5><i class="fa fa-hand-o-right"></i> Allopathic Medicines</h5>
    <section class="product-category-section mt-3">
        <div class="row">
            <div class="col-md-12">

                <div class="card product-category-card-section">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                                <img src="../../../assets/images/background-pic.jpg" alt=""
                                    class="img-fluid medicine-photo-section">
                                <div class="text-danger not-available-section">Currently <br> unavailable</div>
                            </div>
                            <div class="col-md-10">
                                <a href="">
                                <div class="medicine-name-section">Botulinum Toxins: OnabotulinumtoxinA,
                                    AbobotulinumtoxinA, RimabotulinumtoxinB,
                                    IncobotulinumtoxinA</div></a>
                                <div class="category-name-section my-2"><span>Allopathic</span></div>
                                <div class="mt-3 fw-bold fs-5"><span>&#8377;</span>70</div>
                                <div>
                                    <button class="btn btn-sky float-end mt-2"><i class="fa fa-shopping-cart"></i> Add
                                        To
                                        Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>