<div class="container px-5 pt-4" style="margin-bottom: 3%;">
    <h5><i class="fa fa-hand-o-right"></i> My Profile</h5>
    <section class="my-profile-section mt-5">
        <div class="row pt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="my-profile-image-section">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <img *ngIf="customerDetails.fileName==null" src="../../../assets/images/user.png" alt="" class="img-fluid">
                                <img  src={{customerDetails.fileName}} alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="edit-btn"><a href="" [routerLink]="['../update-my-profile']"><i class="fa fa-pencil"></i></a></div>
                    </div>
                    <div class="card-body text-center">
                        <div class="text-white fs-4 pb-1 fw-bold"><i class="fa fa-user"></i> {{customerDetails.customerFirstName}} {{customerDetails.customerLastName}}</div>
                        <div class="text-white fs-5 pb-1"><i class="fa fa-envelope"></i> {{customerDetails.customerEmail}}</div>
                        <div class="text-white fs-5"><i class="fa fa-phone"></i> {{customerDetails.customerPhone}}</div>
                        <div class="text-white fs-5"><i class="fa fa-map-marker"></i> {{customerDetails.customerAddress}}</div>
                        <div class="d-flex justify-content-between order-wishlist-profile-section">
                            <div>
                                <span><i class="fa fa-heart-o"></i> No Of Wishlists : </span>
                                <span>{{totalWishlistProuctNos}}</span>
                            </div>
                            <div>
                                <span><i class='fa fa-truck'></i> No Of Orders : </span>
                                <span>{{totalOrderProductNos}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
</div>
