<body>
    <div class="container">
        <div class="row py-4" style="padding-top: 6rem !important;">
            <div class="col-md-1"></div>
            <div class="col-md-5 image-section">
                <img src="../../../assets/images/m-login-pic.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-5 pt-5 text-section">
                <div class="m-sign-in">
                    <h2 class="card-title pb-3">Sign In Here...</h2>
                    <form (ngSubmit)="signin()">
                        <div class="mb-3">
                            <label for="user-email" class="form-label signin-text">Email</label>
                            <input type="email" [(ngModel)]="customer.customerEmail" name="customerEmail" class="form-control" id="customerEmail" placeholder="Enter Email Here..." required>
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="form-label signin-text">Password</label>
                            <input type="password" [(ngModel)]="customer.customerPassword" name="customerPassword" class="form-control" id="customerPassword"
                                placeholder="Enter Password Here..." required>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a [routerLink]="['../customer/forgot-email']" class="float-end forgot-btn">forgot password?</a>
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success float-end">Submit <i
                                        class="fa fa-send-o"></i></button>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <p class="social-header">Or Signin With...</p>
                            <div class="social-media">
                                <i class="fa fa-google"></i> <i class="fa fa-facebook" aria-hidden="true"></i> <i
                                    class="fa fa-linkedin" aria-hidden="true"></i> <i class="fa fa-twitter"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row pt-5 text-center register-section">
                            <div class="col-md-10">
                                <span style="color: #f75b9a;">Don't Have an account yet?</span><span><a href="">Sign Up
                                        Here</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
