<div class="container px-5 pt-4">
    <section class="my-orders-section">
        <div class="row">
            <div class="col-md-12">
                <div class="card no-order-card-section">
                    <div class="card-body text-center">
                        <div class="no-wishlist-image-section mb-4">
                            <img src="../../../assets/images/shopping-bags.png" alt="" class="img-fluid">
                        </div>
                        <strong class="text-danger">No Orders</strong>
                        <div style="color: #0b7fd5;">You have no items in your Order Bag. Start Ordering!</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card order-header">
                    <div class="card-body">
                        <h5><i class="fa fa-hand-o-right"></i> My Orders</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card medicine-order-card-section">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="../../../assets/images/background-pic.jpg" alt=""
                                    class="img-fluid medicine-photo-section">
                            </div>
                            <div class="col-md-9">
                                <div class="medicine-name-section">Botulinum Toxins: OnabotulinumtoxinA,
                                    AbobotulinumtoxinA, RimabotulinumtoxinB,
                                    IncobotulinumtoxinA</div>
                                <div class="category-name-section my-2"><span>Allopathic</span></div>
                            </div>
                            <div class="col-md-1">
                                <div class="rupees-section float-end">
                                    <div class="fw-bold"><span>&#8377;</span>70</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
</div>