<div class="user-sidenav">
    <div class="user-dashboard-logo-section">
        <img src="../../../assets/images/m-logo.jpg" alt="" height="50" width="50" class="img-fluid">
        <h4>MediOrder</h4>
    </div>
    <hr>
    <div class="user-name-email-section">
        <span>{{customerProfile.customerFirstName}} {{customerProfile.customerLastName}}</span>
        <h6><i class="fa fa-envelope" aria-hidden="true"></i> {{customerProfile.customerEmail}}</h6>
        <h6><i class="fa fa-phone" aria-hidden="true"></i> {{customerProfile.customerPhone}}</h6>
    </div>
    <hr>
    <div class="user-menu-section">
        <a class="menu-items" [routerLinkActive]="''" [routerLink]="['']"><i class="fa fa-home"></i> Home</a>
        <a class="menu-items" [routerLinkActive]="''" [routerLink]="['']"><i class="fa fa-heart-o"></i> My Wishlist</a>
        <a class="menu-items" [routerLinkActive]="''" [routerLink]="['']"><i class="fa fa-shopping-cart"></i> My Carts</a>
        <a class="menu-items" [routerLinkActive]="''" [routerLink]="['']"><i class='fa fa-truck'></i> My Orders</a>
        <a class="menu-items" [routerLinkActive]="''" [routerLink]="['']"><i class="fa fa-address-card"></i> My Profile</a>
        <a class="menu-items" [routerLinkActive]="''" (click)="customerLogout()"><i class="fa fa-power-off"></i> Logout</a>
    </div>
</div>
