<div class="shop-sidenav">
    <div class="shop-dashboard-logo-section">
        <img src="../../../assets/images/m-logo.jpg" alt="" height="50" width="50" class="img-fluid">
        <h4>MediOrder</h4>
    </div>
    <hr>
    <div class="shop-name-email-section">
        <span>JayJagannath Medicine Store</span>
        <h6><i class="fa fa-envelope" aria-hidden="true"></i> jayjagnnathmedicine@gmail.com</h6>
    </div>
    <hr>
    <div class="shop-menu-section">
        <a class="menu-items" [routerLink]="['home']"><i class="fa fa-home"></i> Home</a>
        <a class="menu-items" [routerLink]="['mystore']"><i class="fa fa-building"></i> My Store</a>
        <a class="menu-items" [routerLink]="['add-medicine']"><i class="fa fa-plus"></i> Add Medicine</a>
        <a class="menu-items" [routerLink]="['profile']"><i class="fa fa-address-card"></i> Profile</a>
        <a class="menu-items" [routerLink]="['logout']"><i class="fa fa-power-off"></i> Logout</a>
    </div>
    <!-- <hr> -->
    <!-- <div class="shop-copyright-section">
        <div>&#169; Copyright 2023</div> 
    </div> -->
</div>
