h5{
    color: #0b7fd5;
    font-size: 23px;
}
h6{
  color: #0b7fd5;
}
a{
  text-decoration: none;
  color: black;
}
.user-categories-section .card{
    background-color:#0b7fd5;
    border: none;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.user-categories-section .card:hover{
    background-color:#2594e9;
    border: none;
}
.img-decore{
    background-color: #f5deb3;
    border-radius: 50%;
    padding: 6px;
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.user-categories-section span{
    color: white;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    padding-bottom: 3px;
}
.user-categories-section span:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fa5162;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.user-categories-section span:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}
.heart{
    color: #989898;
    margin-top: 5px;
    margin-left: 190px;
    font-size: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 0px;
    text-align: center;
  }
  .heart:hover{
    color: red;
    background-color:transparent;
    cursor: pointer;
  }
  .user-bestseller-section .card{
    border: 1px solid rgb(236, 234, 234);
    background-color: rgb(241, 241, 241);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .user-allproduct-section .card{
    border: 1px solid rgb(236, 234, 234);
    /* border: none; */
    background-color: rgb(241, 241, 241);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .medicine-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
  }
  .form-control{
    border: 1px solid #0b7fd5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .user-bestseller-section img{
    width: 100%;
    height: 200px;
    border-radius: 3px;
  }
  .manufacture-name{
    background-color: green;
    color: white;
    padding: 5px 15px 6px 15px;
    border-radius: 25px;
}
  .not-available-section{
    position: absolute !important;
    margin-top: -50px !important;
    text-align: center;
    padding-left: 70px !important;
    font-weight: bold;
    background-color:white;
    padding-right: 66px;
}
.user-allproduct-section img{
  width: 100%;
  height: 200px;
  border-radius: 3px;
}

/* .ngx-pagination {
  background:#03a8ab !important;
  text-justify: inter-word;
  border-radius: 3px;
  text-decoration: none;
}
.ngx-pagination .current{
  background-color: #055051 !important;
} */
