<div class="container px-5 pt-4">
    <section class="user-categories-section">
        <h5><i class="fa fa-hand-o-right"></i> Categories</h5>
        <div class="row py-2">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../../../assets/images/Allopathic-logo.png" alt="" class="img-fluid img-decore">
                        <span>Allopathic Medicine</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="user-bestseller-section py-4">
        <h5><i class="fa fa-hand-o-right pb-3"></i> Best Seller Medicines</h5>   
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card me-2" style="width: 15rem;">
                    <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                    <div class="hover-rotate">
                        <img src="../../../assets/images/background-pic.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Medicine1</h5>
                        <p class="card-text">Allopathic <span class="float-end">90/-</span></p>
                        <div>
                            <button class="btn btn-sky float-end"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </section>

    <section class="user-allproduct-section py-4">
        <h5><i class="fa fa-hand-o-right pb-3"></i>All Products</h5>   
        <div class="row">
            <div class="col-md-3">
                <div class="card me-2" style="width: 15rem;">
                    <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                    <div class="hover-rotate">
                        <img src="../../../assets/images/background-pic.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Medicine1</h5>
                        <p class="card-text">Allopathic <span class="float-end">90/-</span></p>
                        <div>
                            <button class="btn btn-sky float-end"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card me-2" style="width: 15rem;">
                    <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                    <div class="hover-rotate">
                        <img src="../../../assets/images/background-pic.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Medicine1</h5>
                        <p class="card-text">Allopathic <span class="float-end">90/-</span></p>
                        <div>
                            <button class="btn btn-sky float-end"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card me-2" style="width: 15rem;">
                    <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                    <div class="hover-rotate">
                        <img src="../../../assets/images/background-pic.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Medicine1</h5>
                        <p class="card-text">Allopathic <span class="float-end">90/-</span></p>
                        <div>
                            <button class="btn btn-sky float-end"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card me-2" style="width: 15rem;">
                    <span id="heart" class="heart"><i class="fa fa-heart"></i></span>
                    <div class="hover-rotate">
                        <img src="../../../assets/images/background-pic.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Medicine1</h5>
                        <p class="card-text">Allopathic <span class="float-end">90/-</span></p>
                        <div>
                            <button class="btn btn-sky float-end"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>