<div class="container px-5 pt-4">
    <section class="shop-add-medicine-section">
        <h5><i class="fa fa-hand-o-right"></i> Add Medicine Details</h5>
        <div class="row">
            <div class="card my-3">
                <div class="card-body">
                    <div class="row my-3">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <button class="btn btn-success"><i class="fa fa-plus"></i> Add Medicine</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 text-center img-section">
                            <img src="../../../assets/images/add-medicine-logo.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label for="">Medicine Name</label>
                                        <input type="text" name="" id="" class="form-control" placeholder="Enter Medicine Name Here...">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-2">
                                        <label for="">Medicine Category</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>---Select Medicine Category---</option>
                                            <option value="1">Ayurvedic</option>
                                            <option value="2">Homeopathy</option>
                                            <option value="3">Allopathic</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="">Manufacture Name</label>
                                <input type="text" name="" id="" class="form-control" placeholder="Enter Manufacture Name Here...">
                            </div>
                            <div class="mb-2">
                                <label for="">Medicine Photo</label>
                                <input type="file" name="" id="" class="form-control">
                            </div>
                            <div class="mb-2">
                                <label for="">Medicine Price</label>
                                <input type="number" name="" id="" class="form-control" placeholder="Enter Medicine Price Here...">
                            </div>
                            <div class="mb-2">
                                <label for="">Medicine Quantity</label>
                                <input type="number" name="" id="" class="form-control" placeholder="Enter Medicine Quantity Here...">
                            </div>
                            <div class="mb-2">
                                <label for="">Medicine Description</label>
                               <textarea name="" id="" class="form-control" rows="3" placeholder="Enter Medicine Description/Uses Here..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
