
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
} 
.best-seller .owl-next,.best-seller .owl-prev{
    background-color: #babbbb !important;
    color: white !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
    position: absolute;
    top: 50%;
    transition: .3s all ease;
}
.best-seller .owl-next{
    right: -68px;
    transform: translate(-50%,-50%);
}
.best-seller .owl-prev{
    left: -8px;
    transform: translate(-50%,-50%);
}
.best-seller .owl-next i,.best-seller .owl-prev i{
    font-size: 24px !important;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.best-seller .owl-next:hover,.best-seller .owl-prev:hover{
    background-color: #036a6b !important;
}
.back-btn{
    color: red;
    font-weight: bold;
    font-size: 28px !important;
    padding: 11px 0px 0px 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.back-btn:hover{
    background-color: rgb(200, 191, 191);
    border-radius: 50%;
    transition: 0.3s;
    opacity: 1;
}
.btn-sky{
    background-color: #0b7fd5 !important;
    color: white !important;
}
.btn-sky:hover{
    opacity: 0.9;
}